* {
    margin: 0;
    
}

body {
    background-color: rgb(49, 6, 6);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    width: 400px;
    margin: 50px;
    background-color: rgb(93, 9, 9);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.userInput {
    width: 80%;
    height: 20px;
    margin: 20px;
    padding: 10px;
    margin-top: px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.result {
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 80px;
}

.enter {
    background-color: rgb(69, 10, 2);
    font-size: 10px;
    padding: 10px;
    border: 3px solid rgba(255, 255, 255, 0.852);
    border-radius: 20px;
    cursor: pointer;
    color: whitesmoke;  
    font-weight: 600;
    margin-bottom: 10px;
    width: 30%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.enter:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

}
